@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/* COLORES
#fa8482 -  #ffd780 - #a5ac42 - #fb97d5  #f8f3e0 - #EFE8E4
*/
body {
  font-family: unquote "Merriweather", serif;
  font-family: unquote "Montserrat", sans-serif; }
  body h1 {
    font-size: 4.6rem;
    font-family: 'Merriweather', serif;
    font-weight: bold; }

#header {
  width: 100vw;
  height: 10vh;
  background-color: #EFE8E4;
  z-index: 2; }
  #header #navbar-nombre {
    color: #fa8482;
    font-weight: 700;
    font-family: unquote "Merriweather", serif;
    font-weight: bold; }
  #header__items {
    color: #000000;
    text-decoration: none;
    /* margin-right: 24%; */
    background-color: #EFE8E4; }
    #header__items:hover {
      color: #fa8482; }

.cover__contenedor {
  width: 100vw;
  padding: 0; }
  .cover__contenedor .cover__img {
    background-size: cover; }
  .cover__contenedor .cover__textos {
    padding-bottom: 26.25rem; }
  .cover__contenedor .cover__subtexto {
    font-size: 1.5rem;
    font-family: unquote "Merriweather", serif;
    font-weight: 500; }

.cards {
  width: 80vw; }

.card--textom {
  margin-bottom: 2.5rem;
  margin-top: 3rem;
  font-family: unquote "Merriweather", serif;
  font-weight: bold; }

.card-textos {
  padding-bottom: 12.25rem;
  font-family: unquote "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF; }

.inicio {
  height: 60vh;
  width: 100vw;
  align-items: center; }
  .inicio__cards {
    margin-top: 3%; }
  .inicio h1 {
    font-size: 2rem; }
  .inicio .img__icono--mate {
    width: 70%;
    margin-right: 45%; }
  .inicio .img__icono--envios svg {
    height: 50%;
    width: 23%; }
  .inicio .img__icono--promociones svg {
    height: 50%;
    width: 23%; }
  .inicio__img {
    width: 30%;
    margin-bottom: 8%;
    margin-left: 40%;
    align-items: center;
    color: #000000; }
  .inicio__subtitulo {
    align-items: center; }

/* PANTALLA DE NOSOTROS */
.nosotros .secciones__titulos {
  margin-top: 3%; }

.nosotros__imagenes {
  width: 50%;
  /* margin: 0; */ }

.nosotros__img--vector {
  padding-top: 7%; }

.nosotros__descripcion--textos {
  width: 50%; }

.nosotros__img--matesrosa, .nosotros__img--matesvangogh {
  z-index: 1;
  width: 25%;
  margin-bottom: -22%;
  margin-left: 12%; }

.nosotros__img--matesvangogh {
  z-index: 0;
  margin-left: -5%;
  margin-bottom: -12%; }

/* PÁGINA DE PRODUCTOS!!!! */
.productos__subtitulo {
  font-family: unquote "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  margin-bottom: 3%; }

.productos__cards {
  width: 20vw;
  height: 32vh;
  background-color: #f8f3e0;
  border-radius: 9px;
  margin-bottom: 2%; }
  .productos__cards .cards__img {
    width: 50%;
    padding: 5%; }
  .productos__cards .cards__img--cuchara {
    width: 24%;
    padding: 5%; }
  .productos__cards .cards__img--cuenco {
    width: 92%; }
  .productos__cards .cards__img--azucarera {
    width: 45%;
    padding: 5%; }
  .productos__cards .cards__img--tabla {
    width: 57%;
    padding: 5%; }
  .productos__cards .cards__img--set1 {
    padding-top: 5%; }
  .productos__cards .cards__img--set2 {
    width: 102%; }
  .productos__cards .cards__img--bombilla {
    width: 20%;
    padding: 5%; }

.sets__cards {
  width: 20vw;
  height: 51vh;
  background-color: #f8f3e0;
  border-radius: 9px;
  margin-bottom: 2%; }

.cards__titulo {
  font-family: unquote "Merriweather", serif;
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  line-height: 29px;
  text-align: center; }

.cards__descripcion {
  font-family: unquote "Merriweather", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }

.cards__precio {
  font-family: unquote "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

.sets__titulo {
  font-family: unquote "Merriweather", serif;
  font-weight: bolder;
  font-size: 2.8rem;
  margin-bottom: 2%; }

.footer {
  width: 100vw;
  height: 50vh;
  background-color: #EFE8E4;
  margin-top: 4%; }
  .footer__texto {
    font-size: 1rem;
    font-family: unquote "Merriweather", serif;
    font-weight: lighter;
    color: #000000; }

.contactanos__svg {
  padding: 0;
  width: 10.666667%; }

#footer__items {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-family: unquote "Merriweather", serif;
  font-weight: lighter; }

#footer_items:hover {
  color: #fa8482; }

/* MEDIA QUERIES PRIMERA PANTALLA */
/* DE 575 PARA ABAJO */
@media screen and (max-width: 575.98px) {
  .cover__textos {
    padding-bottom: 7.25rem; }
  .cover__subtexto {
    font-size: 0.7rem; }
  h1 {
    font-size: 2.3rem; }
  .collapsed {
    background-color: #EFE8E4; }
  .nosotros__img--matesrosa, .nosotros__img--matesvangogh {
    width: 43%;
    margin-bottom: 6%;
    margin-left: 26%; }
  .nosotros__img--matesvangogh {
    width: 48%;
    margin-left: -1%;
    margin-bottom: 32%; }
  .nosotros__descripcion--textos {
    width: 100%; }
  .inicio {
    height: 105vh; }
    .inicio__cards {
      text-align: center; }
  .img__icono--mate {
    width: 90%;
    padding-left: 10%; }
  .footer {
    height: 64vh; }
    .footer_contacto {
      margin-top: 5%; }
  .productos__cards {
    width: 100vw;
    height: 50vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; }
  .sets__cards {
    width: 100vw;
    height: 50vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; } }

@media screen and (min-width: 576px) {
  .cover__textos {
    padding-bottom: 10.25rem; }
  .cover__subtexto {
    font-size: 0.8rem; }
  h1 {
    font-size: 2.7rem; }
  .card--textom {
    font-size: 2.2rem; }
  .card-textos {
    padding-bottom: 15.25rem;
    font-size: 2rem;
    line-height: 50px;
    width: 100%;
    left: 2px; }
  .inicio {
    height: 110vh; }
    .inicio__cards {
      text-align: center; }
  .img__icono--mate {
    width: 90%;
    padding-left: 10%; }
  .nosotros__img--matesrosa, .nosotros__img--matesvangogh {
    width: 43%;
    margin-bottom: 0%;
    margin-left: 26%; }
  .nosotros__img--matesvangogh {
    width: 48%;
    margin-left: -1%;
    margin-bottom: 20%; }
  .nosotros__descripcion--textos {
    width: 100%; }
  .footer {
    height: 64vh; }
    .footer_contacto {
      margin-top: 5%; }
  .productos__cards {
    width: 150vw;
    height: 52vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; }
  .sets__cards {
    width: 100vw;
    height: 54vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; } }

@media screen and (min-width: 768px) {
  .cover__textos {
    padding-bottom: 15.25rem; }
  .cover__subtexto {
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: 500; }
  h1 {
    font-size: 3rem; }
  .card-textos {
    padding-bottom: 4.25rem;
    font-size: 1.2rem;
    line-height: 25px;
    width: 98%;
    left: 2px; }
  .inicio {
    height: 55vh; }
  .nosotros__img--matesrosa, .nosotros__img--matesvangogh {
    width: 34%;
    margin-bottom: -32%;
    margin-left: 23%; }
  .nosotros__img--matesvangogh {
    width: 40%;
    margin-left: -1%;
    margin-bottom: -15%; }
  .nosotros__descripcion--textos {
    width: 100%; }
  .footer {
    height: 40vh; }
    .footer_contacto {
      margin-top: 0%; }
  .productos__cards {
    width: 60vw;
    height: 60vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; }
  .sets__cards {
    width: 66vw;
    height: 70vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; }
  .cards__img--set1 {
    padding-bottom: 5%; }
  .cards__img--set2 {
    padding-top: 3%;
    /* padding-bottom: -4%; */ } }

@media screen and (min-width: 992px) {
  .carrousel-caption {
    bottom: -6.75rem; }
  .cover__textos {
    padding-bottom: 13.25rem; }
  .cover__subtexto {
    font-size: 1.2rem; }
  h1 {
    font-size: 4rem; }
  .card-textos {
    padding-bottom: 7.25rem;
    line-height: 32px;
    width: 88%;
    left: 7%; }
  .inicio {
    height: 60vh; }
  .nosotros__img--matesrosa, .nosotros__img--matesvangogh {
    width: 31%;
    margin-left: 20%;
    margin-bottom: -37%; }
  .nosotros__img--matesvangogh {
    width: 33%;
    margin-left: -1%;
    margin-bottom: -21%; }
  .nosotros__descripcion--textos {
    width: 50%; }
  .footer {
    height: 44vh; }
  .productos__cards {
    width: 50vw;
    height: 55vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; }
  .sets__cards {
    width: 50vw;
    height: 70vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; } }

@media screen and (min-width: 1200px) {
  .cover__textos {
    padding-bottom: 24.25rem; }
  .cover__subtexto {
    font-size: 1.5rem; }
  h1 {
    font-size: 4.6rem; }
  .card-textos {
    padding-bottom: 9.25rem;
    left: 13%;
    line-height: 32px;
    width: 72%; }
  .inicio {
    height: 60vh; }
  .nosotros__img--matesrosa, .nosotros__img--matesvangogh {
    width: 24%;
    margin-left: 14%;
    margin-bottom: -10%; }
  .nosotros__img--matesvangogh {
    width: 28%;
    margin-left: -5%;
    margin-bottom: -1%; }
  .nosotros__descripcion--textos {
    width: 50%; }
  .footer {
    height: 48vh; }
  .productos__cards {
    width: 24vw;
    height: 48vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; }
  .sets__cards {
    width: 26vw;
    height: 56vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; }
  .cards__img--set1 {
    padding-bottom: 5%; }
  .cards__img--set2 {
    /* padding-bottom: 1%; */
    padding-top: 0%;
    /* padding-bottom: -4%; */ } }

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 4.6rem; }
  .card-textos {
    font-size: 1.5rem;
    padding-bottom: 12.25rem;
    left: 13%;
    line-height: 32px;
    width: 72%; }
  .inicio {
    height: 50vh; }
  .nosotros__img--matesrosa, .nosotros__img--matesvangogh {
    width: 24%;
    margin-left: 12%;
    margin-bottom: -14%; }
  .nosotros__img--matesvangogh {
    width: 28%;
    margin-left: -4%;
    margin-bottom: -7%; }
  .nosotros__descripcion--textos {
    width: 50%; }
  .footer {
    height: 48vh; }
  .productos__cards {
    width: 20vw;
    height: 48vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; }
  .sets__cards {
    width: 20vw;
    height: 57vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%; } }
