.cover__contenedor {
        width: 100vw;
        padding: 0;
    

    .cover__img {
        background-size: cover;
        // animation: cover-animacion 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
        // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .cover__textos {
        padding-bottom: 26.25rem;
    }
    
    .cover__subtexto {
        font-size: 1.5rem;
        font-family: $font-merriweather;
        font-weight: 500;
    }
}


.cards {
    width: 80vw;

//  .inicio__cards {
//     animation: animacion-cards 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
//     clip-path: circle(0% at 50% 50%);
//  }
  

}

// AGREGO UN MIXIN !!!!!

@mixin medidas-cards ($alto, $ancho) {
height: $alto;
width: $ancho;
}


  // VER SI ESTE ESTA BIEN 
.card {
    // animation: animacion-cards 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    // clip-path: circle(0% at 50% 50%);

    &--textom {
        margin-bottom: 2.5rem;
        margin-top: 3rem;
        font-family: $font-merriweather;
        font-weight: bold;
    }

    &-textos {
        padding-bottom: 12.25rem;
        font-family: $font-merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 45px;
        text-align: center;
    
        color: #FFFFFF;
    }

}



.inicio {

    @include medidas-cards(60vh,100vw);
    // width: 100vw;
    // height: 60vh;
    align-items: center;

&__cards {
    margin-top: 3%;
}

& h1 {
    font-size: 2rem;
}


.img__icono--mate {
    width: 70%;
    margin-right: 45%;
}


.img__icono--envios svg {
    @include medidas-cards(50%, 23%);
    // width: 23%;
    // height: 50%;
}

// quizás acá se podría haber hecho un extend 

.img__icono--promociones svg {
    @include medidas-cards(50%, 23%);
    // width: 23%;
    // height: 50%;
}

&__img {  
    width: 30%;
    margin-bottom: 8%;
    margin-left: 40%;
    align-items: center;
    color: $color-negro;
}


    &__subtitulo {
        align-items: center;
    }
}



// // ANIMACIONES 
// @keyframes animacion-cards {
//     to {
//         clip-path: circle(100% at 50% 50%);
//     }
// }

// /* ANIMACION CARD!!!!  */

// @keyframes cover-animacion {
//     to {
//         clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
//     }
// }