
/* PÁGINA DE PRODUCTOS!!!! */

.productos {

    &__subtitulo {
        font-family: $font-montserrat;
        font-weight: lighter;
        font-size: 2rem;
        margin-bottom: 3%;
    }
  

}

@mixin medidas-productos ($ancho, $alto) {
width: $ancho;
height: $alto;

}

.productos__cards {
    @include medidas-productos(20vw, 32vh);
    // width: 20vw;
    // height: 42vh;
    background-color: $color-cards;
    border-radius: 9px;
    margin-bottom: 2%;



    @mixin cards ($ancho, $padding) {
        width: $ancho;
        padding: $padding;
        }
        
        .cards__img {
            @include cards(50%, 5%);
            // width: 50%;
            // padding-top: 5%;
        }
        
        .cards__img--cuchara {
            @include cards(24%, 5%);
            // width: 14%;
            // padding-top: 5%;
        }
        
        .cards__img--cuenco {
            width: 92%;
        }
        
        .cards__img--azucarera {
            @include cards(45%, 5%);
            // padding-top: 5%;
            // width: 45%;
        }
        
        .cards__img--tabla {
            @include cards(57%, 5%);
            // padding-top: 5%;
            // width: 57%;
        }
        
        .cards__img--set1 {
            padding-top: 5%;
        }
        
        .cards__img--set2 {
            width: 102%;
        }
        
        .cards__img--bombilla {
            @include cards(20%, 5%);
            // padding-top: 5%;
            // width: 10%;
        }

}

.sets__cards {
    @include medidas-productos(20vw, 51vh);
    // width: 20vw;
    // height: 51vh;
    background-color: $color-cards;
    border-radius: 9px;
    margin-bottom: 2%;
}

.cards__titulo {
    font-family: $font-merriweather;
    font-style: normal;
    font-weight: 550;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.cards__descripcion {
    font-family:$font-merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.cards__precio {
    font-family:$font-merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

}

.sets__titulo {
    font-family: $font-merriweather;
    font-weight: bolder;
    font-size: 2.8rem;
    margin-bottom: 2%;

}